.grid-item { width: 400px; }
.grid-item--width2 { width: 400px; }

.card .card-image img {
	max-width:100%;
	width:initial;
	margin: 0 auto;
}

.card.medium {
	height: initial;
}

.card {
	margin: 2rem 2rem 0 0
}

.card.small .card-action, .card.medium .card-action, .card.large .card-action {
	position: initial;
}

.card-btn-delete {
	float:right;
}

.container {
	width:90%;
}

nav .brand-logo {
	padding: 0 0 0 1rem;
}

.fixed-action-btn {
	bottom: 45px;
	right: 45px;
}
